In [27]:
import pandas as pd
exl=pd.ExcelFile('TS_HW4_Data.xlsx')
cl1=pd.read_excel(exl,sheet_name='CL1',index_col=0).rename(columns={'Last Price':'CL1'})
cl2=pd.read_excel(exl,sheet_name='CL2',index_col=0).rename(columns={'Last Price':'CL2'})
cl3=pd.read_excel(exl,sheet_name='CL3',index_col=0).rename(columns={'Last Price':'CL3'})

In [33]:
data=pd.concat([cl1.CL1,cl2.CL2,cl3.CL3],axis=1)
data.head()

              CL1    CL2    CL3
Date
2018-09-25  72.00  71.83  71.65
2018-09-24  72.08  71.76  71.51
2018-09-21  70.78  70.37  70.06
2018-09-20  70.80  70.32  70.06
2018-09-19  71.12  70.77  70.52